<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8"/>
    <title>bootstrap4</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>

    <link href="https://cdn.bootcss.com/summernote/0.8.12/summernote-bs4.css" rel="stylesheet"/>
</head>

<body>
<input type="hidden" id="imageId" name="imageId" th:value="${detail.imageId}"/>
<input type="hidden" id="id" name="id" th:value="${detail.id}"/>
<input type="hidden" id="code" th:value="${detail.code}"/>
<div id="summernote"></div>
<button id="save" class="btn btn-primary" onclick="save()" type="button">Save</button>
</body>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<!--<script src="https://cdn.bootcss.com/slim.js/3.2.1/Slim.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<!--
<script src="https://cdn.bootcss.com/popper.js/1.11.0/esm/popper.min.js"></script>
-->
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--<script src="https://cdn.bootcss.com/summernote/0.8.12/summernote-bs4.min.js"></script>-->
<script src="https://cdn.bootcss.com/summernote/0.8.12/summernote.min.js"></script>

<script src="https://cdn.bootcss.com/summernote/0.8.12/lang/summernote-zh-CN.js"></script>


<script>
    $(function () {
        $('#summernote').summernote({
            height: 300,
            tabsize: 2,
            lang: 'zh-CN',
            placeholder :'',
            callbacks: {
                onImageUpload: function (files) { //the onImageUpload API
                    console.log("图片上传" + files[0]);
                    img = sendFile(files[0]);
                }
            }
        });

        if ($("#code").val()) {
            $('#summernote').summernote('code', $("#code").val());
            // $("#summernote").append($("#code").val());
        }
    })

    function sendFile(file) {

        var data = new FormData();
        data.append("file", file);

        $.ajax({
            data: data,
            type: "POST",
            url: "../upload",
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                console.log(data.data);
                $("#summernote").summernote('insertImage', data.data, 'image name'); // the insertImage API
            }
        });
    }

    var save = function () {
        var markup = $('#summernote').summernote('code');
        $.ajax({
            data: {
                id: $("#id").val(),
                imageId: $("#imageId").val(),
                code: markup
            },
            type: "POST",
            url: "../saveOrUpdateDetail",
            success: function (data) {
                console.log(data.data);
                $("#summernote").summernote('insertImage', data.data, 'image name'); // the insertImage API
            }
        });
        $('.click2edit').summernote('destroy');
    };
</script>
</html>
