<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<head >
    <style>
        .table th,.table td {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    </style>
</head>
<head th:include="include :: header"></head>
<body class="gray-bg" style="overflow:scroll;">
<div class="container ">

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-body">
                    <div class="fixed-table-toolbar">


                        <div class="columns pull-left col-md-3 ">
                            <select class="form-control" id="position">
                                <option value="">--请选择位置--</option>
                                <option value="1">轮播图</option>
                                <option value="2">首页普通图</option>
                                <option value="3">详情图</option>
                            </select>
                        </div>
                    </div>
                    <div class="query-div pull-right">
                        <button type="button" class="btn  btn-primary" onclick="add()">
                            <i class="fa fa-plus hidden" aria-hidden="true"></i>添加
                        </button>
                        <button class="btn btn-success" id="sub">查询</button>
                    </div>
                    <div class="clearfix"></div>

                    <table id="exampleTable" >
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>

<script type="text/javascript" th:src="@{/static/js/appjs/admin/admin.js}"></script>
</body>
</html>