<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title></title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <!--
    <link rel="shortcut icon" th:href="@{/static/img/forte.png}" />
    -->
    <link href="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet"/>
<!--
    <link rel="stylesheet" th:href="@{/static/css/jquery-ui.css}"/>
-->

    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
<!--
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet"/>
-->
    <link href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css" rel="stylesheet"/>
<!--
    <link th:href="@{/static/css/plugins/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet"/>
-->

    <link href="https://libs.cdnjs.net/font-awesome/5.8.2/css/all.min.css" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" href="//layui.hcwl520.com.cn/layui/css/layui.css?v=201801090202" />


</head>
<div th:fragment="footer">
    <!-- 全局JS -->
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="https://cdn.bootcss.com/font-awesome/5.8.2/js/all.min.js"></script>

    <script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.14.2/dist/extensions/toolbar/bootstrap-table-toolbar.min.js"></script>

    <script src="https://libs.cdnjs.net/layer/2.3/layer.js"></script>
    <script src="//layui.hcwl520.com.cn/layui/layui.js?v=201801090202"></script>

</div>
</html>

